/* Checkout.css */

.checkout {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.checkout_left {
    flex: 0.7;
}

.checkout_ad {
    width: 100%;
    z-index: -1;
}

.checkout_title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.checkout_empty {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.checkout_right {
    flex: 0.3;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
}
