.payment{
    background-color: white;
}

.payment_container >h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
}

/* now to remove the line below the item no. on the top as it is the link */
.payment_container>h1 a{
    text-decoration: none;
}

.payment_section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title{
    /* using the below line of code now the payment title will take the 20% of the space */
    flex:0.2;
}
.payment_address ,.payment_items{
    /* using the below line of code now the payment address will take the 80% of the space */
    flex:0.8;
}